.App {
  text-align: center;
  font-family: 'Stint Ultra Condensed', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-growshrink infinite 20s linear;
  }
}

.App-header {
  background-color: #070E0E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1, h2, h3 {
  font-family: 'Fredericka the Great', cursive;
}

.App-link {
  color: #7B002C;
}
@keyframes App-logo-growshrink {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.0);
  }
}
